table{
	border: 2px solid silver;
	border-collapse: collapse;
	margin: 0px auto;
	width: 600px;
}
td, th{
	border: 2px solid silver;	
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}


